.App{
    margin: 30px;
    width: 95%;
}


#dayNumber{
    right: 800px;
}

#wordTable{
    width: 1000px;
}

.mainBody{
   left: 1000px
}


.changePage{
    display: flex;
    justify-content:space-between;
    width: 1000px;
}
/* .leftPage{
    right: 200px;
}
.rightPage{
    left: 200px;
} */
