.App{
    margin: 30px;
    width: 95%;
}

.mainBody{
    width: 95%;
    display: flex;
    justify-content: center;
}

.wordTable{
    width: 1000px;
}

.changePage{
    display: flex;
    justify-content:space-between;
    width: 1000px;
}
