.App{
    margin: 30px;
    width: 95%;
}

.mainBody{
    width: 95%;
    display: flex;
    justify-content: center;
}

.wordTable{
    width: 1000px;
}

.changeButtonBody{
    display: flex;
    justify-content:space-between;
    width: 1000px;
}
.leftPage{
    right: 200px;
}
.rightPage{
    left: 200px;
}
